$highlight: #202820;
$highlight2: #189112;
$highlightTransparent: rgba(24, 145, 18, 0.8);
$highlightTransparent2: rgba(24, 145, 18, 0.3);
$successColor: #28a745;

$intro-radius: 200px;

$theme-colors: (
  "primary": $highlight,
  "danger": $highlight2,
);
@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon/icomoon.eot");
  src: url("fonts/icomoon/icomoon.eot#iefix") format("embedded-opentype"),
  url("fonts/icomoon/icomoon.ttf") format("truetype"),
  url("fonts/icomoon/icomoon.woff") format("woff"),
  url("fonts/icomoon/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.cart:before {
  font-family: "icomoon" !important;
  content: "\e854";
}

.youtube:before {
  font-family: "icomoon" !important;
  content: "\f16a";
}

.rate_review:before {
  font-family: "icomoon" !important;
  content: "\e560";
}

.pdf:before {
  font-family: "icomoon" !important;
  content: "\f1c1";
}

body {
  line-height: 1.7;
  color: var(--bs-gray-700);
  font-weight: 300;
  font-size: 1.1rem;
}

a {
  transition: 0.3s all ease;
  text-decoration: none;
  color: $highlight2;

  &:hover {
    text-decoration: none;
  }
}

.text-justify {
  text-align: justify;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.site-wrap:before {
  transition: .3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.offcanvas-menu {
  position: relative;

  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    z-index: 21;
    background: rgba(0, 0, 0, 0.2);
  }

  .site-wrap {
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow: hidden;

    &:before {
      opacity: 1;
      visibility: visible;
    }
  }

  .site-mobile-menu {
    transform: translateX(0%);
  }
}

.ul-check li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  line-height: 1.5;

  &:before {
    left: 0;
    font-size: 20px;
    top: -0.3rem;
    font-family: "icomoon" !important;
    content: "\e5ca";
    position: absolute;
    color: $successColor;
  }
}

.logo-image {
  .fan {
    transform-origin: 50% 50%;
  }

  path {
    fill: white;
    transition: all .5s ease-in-out;
  }

  &:hover {
    .fan {
      @keyframes rot {
        0% {
          transform: rotate(0);
        }
        50% {
          transform: rotate(360deg);
        }
        100% {
          transform: rotate(0);
        }
      }
      animation: rot 1s;
    }
  }
}

.site-navbar {
  margin-bottom: 0;
  z-index: 1999;
  position: absolute;
  width: 100%;

  .logo-image {
    width: 80px;
    height: 80px;
  }

  .site-navigation {
    .site-menu {
      margin-bottom: 0;

      li {
        display: inline-block;

        .nav-link {
          transition: 0.3s ease all;
          padding: 5px;
          color: #fff;
          display: inline-block;

          &.active {
            padding: 5px 20px;
          }
        }
      }
    }

    .site-menu.site-menu-dark > li > a {
      color: black;
      position: relative;

      &:after {
        height: 2px;
        background: black;
      }

      &:hover {
        color: black;
        position: relative;

        &:after {
          transform: scale(1);
        }
      }

      &.active {
        color: $highlight;
        position: relative;

        &:after {
          transform: scale(1);
        }
      }
    }
  }

  .js-menu-toggle span:before {
    font-family: "icomoon" !important;
    content: "\e5d2";
  }
}

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  transform: translateX(110%);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;

  .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;

    .site-mobile-menu-close {
      float: right;
      margin-top: 8px;

      .js-menu-toggle {
        font-family: "icomoon" !important;
        font-size: 30px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 0;
        line-height: 1;
        cursor: pointer;
        transition: 0.3s all ease;

        &:before {
          content: "\e5cd";
        }

        &:hover {
          color: #dee2e6;
        }
      }
    }
  }

  .site-mobile-menu-body {
    position: relative;
    height: calc(100vh - 52px);
    padding: 0 20px 150px;
  }

  .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;

    li {
      position: relative;
      display: block;

      a {
        padding: 10px 20px;
        display: block;
        position: relative;
        color: #212529;

        &.active, &:hover {
          color: $highlight;
        }
      }
    }
  }
}

.cta {
  a {
    > span {
      transition: 0.3s all ease;
      padding: 10px 20px;
      white-space: nowrap;
    }

    &:hover > span {
      background: $highlight !important;
      border-color: $highlight !important;
    }

    &.active > span {
      border-color: $highlight !important;
      background-color: $highlight !important;
    }

    &:before, &:after {
      display: none;
    }
  }
}

.sticky-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%;

  + {
    .site-blocks-cover {
      margin-top: 96px;
    }
  }

  .site-menu-toggle {
    color: #000;
  }

  .site-navbar {
    transition: 0.3s all ease;

    .site-menu {
      > li {
        display: inline-block;

        > a {
          position: relative;

          &:after {
            height: 2px;
            background: #fff;
            content: "";
            position: absolute;
            bottom: 0;
            left: 20px;
            right: 20px;
            transform: scale(0);
            transition: 0.3s all ease;
          }

          &:hover {
            color: #fff;
            position: relative;

            &:after {
              transform: scale(1);
            }
          }
        }

        > a.active {
          color: #fff;
          position: relative;

          &:after {
            transform: scale(1);
          }
        }
      }
    }
  }

  .shrink {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
  }
}

.sticky-wrapper.is-sticky {
  .site-menu-toggle {
    color: #000;
  }

  .site-navbar {
    box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
    background: #fefefe;

    .logo-image path {
      fill: $highlight;
    }

    .site-menu {
      > li {
        display: inline-block;

        > a {
          position: relative;
          color: #000;

          &:after {
            height: 2px;
            background: $highlight;
          }

          &:hover {
            color: $highlight;
            position: relative;

            &:after {
              transform: scale(1);
            }
          }
        }

        > a.active {
          color: $highlight;
          position: relative;

          &:after {
            transform: scale(1);
          }
        }
      }
    }
  }
}

.intro-section {
  position: relative;
  height: 100vh;

  .container.row {
    height: 100vh;
  }

  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 70%;
    background: $highlight;
    border-bottom-right-radius: $intro-radius;
  }

  h1 {
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
  }

  p {
    color: #eeeeee;
    font-size: 1.8rem;
    max-width: 400px;
  }
}

.bg-light {
  background: #f1f3f8 !important;
}

.section-title {
  font-size: 3rem;
  color: $highlight;
  margin: 2rem 2rem;
  font-weight: 900;
}

.work-thumb {
  position: relative;
  cursor: pointer;
  height: 300px;
  width: 400px;
  transition: 0.2s all ease-in-out;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: $highlightTransparent;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all ease;
  }

  .work-text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%);
    transition: 0.3s all ease;
    margin-top: 20px;

    h3 {
      font-size: 1.5rem;
      font-weight: 900;
      color: #fff;
      margin: 0;
      padding: 0;
    }

    .category {
      font-size: 0.8rem;
      color: rgba(255, 255, 255, 0.7);
      text-transform: uppercase;
    }
  }

  &:hover {
    z-index: 3;
    transform: scale(1.03);

    &:after {
      opacity: 0.9;
      visibility: visible;
    }

    .work-text {
      transition-delay: 0.2s;
      opacity: 1;
      visibility: visible;
      margin-top: 0;
    }
  }
}

#contact-section {
  .form-control:focus, .form-select:focus {
    border-color: $highlight2;
    box-shadow: 0 0 0 0.25rem $highlightTransparent2;
  }
}

#work-carousel {
  .f-progress {
    background: $highlight2 !important;
  }

  .f-carousel__nav button {
    background: $highlight2;
    color: white;
    border-radius: 50%;
  }

  .f-carousel__dots .is-current button {
    color: $highlight2;
  }

  .f-carousel__slide {
    position: relative;
    z-index: 2;
    transform: scale(1);
    transition: 0.1s all cubic-bezier(0.17, 0.67, 0.86, 0.2);

    &:hover {
      z-index: 3;
      transform: scale(1.07);
    }
  }
}

.footer-section {
  p {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-weight: 900;
  }

  .footer-links li {
    margin-bottom: 10px;

    a {
      color: white;

      &:hover {
        color: $highlight2;
      }
    }
  }
}

#faq-section .services {
  flex-direction: column;

  .service {
    width: 90%;
    height: 150px;

    &.active {
      height: 410px;

      h3 {
        padding-bottom: 0;
      }

      .content {
        border-top: 3px solid gray;
      }
    }

    h3 {
      text-align: left;
      font-size: 22px;

      &:after, &:before {
        text-align: center;
      }

      &:before {
        padding-right: 1rem;
        font-family: "icomoon" !important;
        content: "\e8af";
      }
    }
  }
}

#partner-section .service {
  height: 270px;
  cursor: default;

  img {
    margin-left: 30px;
    margin-bottom: 20px;
  }

  h3:after {
    display: none;
  }
}

#videos-section .service {
  max-width: 600px;
  max-height: calc((600px - 20px) * 0.5625);
  width: calc(100vw - 20px);
  height: calc((100vw - 20px) * 0.5625);
  margin: 20px;
}

.services {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-around;

  .service {
    position: relative;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    top: 0;
    height: 200px;
    width: 350px;
    margin: 1rem;
    cursor: pointer;
    transition: 0.5s all cubic-bezier(0.17, 0.67, 0.52, 0.94);

    .content {
      padding: 1rem;
      display: none;
      transition: 1s border ease-in-out;

      ul {
        padding: 10px;
      }
    }

    h3 {
      color: $highlight;
      text-align: center;
      width: 100%;
      margin: 0;
      line-height: 4rem;
      padding: 1rem;

      &:after {
        display: block;
        content: "\f078";
        font-family: "icomoon" !important;
        transition: 0.5s all cubic-bezier(0.17, 0.67, 0.52, 0.94);
      }
    }

    &:before, &:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      height: 7px;
      transition: 0.5s all cubic-bezier(0.17, 0.67, 0.52, 0.94);
    }

    &:before {
      width: 100%;
      z-index: 1;
      background: $highlight;
    }

    &:after {
      width: 0;
      z-index: 2;
      background: $highlight2;
    }

    &.active {
      height: 700px;

      h3:after {
        transform: rotate(180deg);
      }
    }

    &:hover, &.active {
      top: -10px;
      box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);

      &:after {
        width: 100%;
      }

      h3 {
        color: $highlight2;
      }
    }
  }
}

#carousel {
  .f-carousel__viewport {
    border-bottom-left-radius: $intro-radius;
    border-top-right-radius: $intro-radius;
    box-shadow: 0 30px 100px -20px rgba(0, 0, 0, 0.4);
  }

  .f-carousel__nav {
    position: absolute;
    left: 50%;

    .f-button {
      background: $highlight2;
      height: 60px;
      width: 56px;

      &:first-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        left: 28px;
      }

      &:last-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        left: -28px;
      }

      svg {
        color: #fff;
      }

      &:hover {
        z-index: 2;
        box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.4);
      }
    }
  }
}

#legal, #agb, #data-security {
  max-width: 768px;
}

#overlayer {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 7100;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loader {
  z-index: 7700;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1199.98px) {
  .form-container > div {
    min-width: 100%;
  }
}

@media (max-width: 991.98px) {
  .sticky-wrapper .site-menu-toggle {
    color: #fff;
  }
  .intro-section {
    $intro-radius: 20vw;

    #carousel-text {
      margin-top: 50px;
    }

    &:before {
      border-bottom-right-radius: $intro-radius;
    }

    .f-carousel__viewport {
      border-bottom-left-radius: $intro-radius;
      border-top-right-radius: $intro-radius;
    }

    &:before {
      width: 100%;
    }

    p {
      min-width: 100%;
    }
  }

  .image-absolute-box .box {
    top: auto;
    right: auto;
    position: relative;
    width: 100%;
    max-width: 100%;
  }

  #carousel-text {
    text-align: center;
  }

  #faq-section .services .service {
    &.active {
      height: 650px;
    }

    h3 {
      font-size: 1.1rem;
      line-height: 2;
      text-transform: none;
    }
  }
}
